@import 'common';

// injector
// endinjector

.div-table-name{
    background-color: #EDF2F5;
    color:#336199;
    padding: 5px 10px 5px 10px;
}
.div-table-value{
    padding: 5px 10px 5px 10px;
}
.datepickerPopupStyle{
    background-color: #565a6f;
}
