@import 'common';

// injector
// endinjector

.div-table-name{
    background-color: #EDF2F5;
    color:#336199;
    padding: 5px 10px 5px 10px;
}
.div-table-value{
    padding: 5px 10px 5px 10px;
}
.datepickerPopupStyle{
    background-color: #565a6f;
}
table a {
    color: #e1f593;
    text-decoration: none !important;
    transition: color 0.2s ease;
}
.table > tbody > tr > td {
    line-height: 25px;
}
.table > thead > tr > th {
    text-align: left ;
}

input::-webkit-input-placeholder {
        /* placeholder颜色  */
        color: rgba(243, 241, 241, 0.3) !important; 
         /* placeholder字体大小  */
//       font-size: 20px;
         /* placeholder位置  */
//       text-align: right;
}
     
//排序样式
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}
.uib-day 
ul.uib-datepicker-popup.btn.btn-default {
   color: #2dacd1;
}
small{
    color: #2dacd1;
}

.select_table{
    background-color: #209e91 !important;
}

.form-control1, .form-control1:focus {
  color: #fff !important;
}
