<div class="tabbable">
	<div class="row" ng-repeat="info in infos">
		<!-- PAGE CONTENT BEGINS -->
		<div class=" col-xs-12" style="margin-bottom: 10px;">
			<div class="cleanfix" style="border: 1.5px solid #E6EBEE;">
				<div class="div-table-name" style="width: 100%; text-align: center;">
					{{info.title}}
				</div>
				<div class="row" style="margin: 0px; border-top:1.5px solid #F7F7F7;" ng-repeat="row in info.detail">
					<div class="div-table-name pull-left col-xs-2" style=" text-align: right;">{{row.name}}</div>
					<div ng-if="row.type==null" class="div-table-value pull-left">{{row.value}}</div>
					<div ng-if="row.type=='label'" class="div-table-value pull-left">
						<span class="tag label" ng-repeat="item in row.items" style="float: left;margin-top: 3px; margin-right: 10px; background-color: {{item['bg-color']}}">{{item.name}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>