<div class="tabbable">
	<div class="row" ng-repeat="info in infos">
		<!-- PAGE CONTENT BEGINS -->
		<div class=" col-xs-6" style="margin-bottom: 10px;" ng-repeat="summary in info">
			<div class="cleanfix" style="border: 1.5px solid #E6EBEE;">
				<div class="div-table-name" style="width: 100%; text-align: center;">
					{{summary.title}}
				</div>
				<div class="row" style="margin: 0px; border-top:1.5px solid #F7F7F7;" ng-repeat="row in summary.detail">
					<div class="div-table-name pull-left col-xs-3" style="text-align: right;">{{row.name}}</div>
					<div class="div-table-value pull-left">{{row.value}}</div>
				</div>
			</div>
		</div>
	</div>
</div>