<div class="row">

    <div class="col-xs-12">
    	
      <div class="row" style="padding-top:10px;">
        <div class="form-group">
          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">开始时间 :</label>
          <div class="col-md-3 col-sm-3 col-lg-3">
          	<div class="input-group" ng-controller="switchboardCtrl">
	        	<input id="startDate" type="text" class="form-control" readonly="readonly"
	        		placeholder="起始时间" ng-model="startDate"
	        		uib-datepicker-popup="yyyy/MM/dd"  ng-click="open()"
	        		datepicker-options="options" 
	        		show-button-bar="true"
	        		is-open="opened" 
	        		ng-required="true" 
	        		close-text="Close" 
	        		show-button-bar="false" />
	          	<span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="open()">
	            		<i class="glyphicon glyphicon-calendar"></i>
	            	</button>
	          	</span>
	        </div>
          </div>
          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">结束时间 :</label>
          <div class="col-md-3 col-sm-3 col-lg-3">
          	<div class="input-group" ng-controller="switchboardCtrl">
	        	<input id="endDate" type="text" class="form-control" readonly="readonly"
	        		placeholder="结束时间" ng-model="endDate"
	        		uib-datepicker-popup="yyyy/MM/dd"  ng-click="open()"
	        		datepicker-options="options" 
	        		show-button-bar="true"
	        		is-open="opened" 
	        		ng-required="true" 
	        		close-text="Close" 
	        		show-button-bar="false" />
	          	<span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="open()">
	            		<i class="glyphicon glyphicon-calendar"></i>
	            	</button>
	          	</span>
	        </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
	           <button type="button" ng-click="search9();" class="btn btn-primary btn-with-icon">
		        	<i class="glyphicon glyphicon-search"></i>查询
		        </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="padding: 0px; margin: 0px; " ng-repeat="item in data">
        <div id="chart-{{$index}}" style="height: 400px; width: 100%;padding: 15px;">
        </div>
    </div>
</div>