<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
	<div class="horizontal-scroll">
		<table class="table table-hover" st-table="smartTableData" st-safe-src="DataList">
			<thead>
				<tr> 
				    <th colspan="4">
				    	<div class="row">
			    		 	<div class="col-lg-3 col-sm-3 col-xlg-3 control-label text-right" style="width: 80px;padding-top: 7px;">显示行数：</div>
								<div class="col-lg-7 col-sm-7 col-xlg-7" style="width: 170px;">
									<select class="form-control selectpicker show-tick pull-left" title="Rows on page" selectpicker ng-model="smartTablePageSize"
										ng-options="i for i in [5,10,15,20,25]"></select>
								</div>
							</div>
		    		</th>
		    		<th colspan="5" style="text-align: right">
		    			<div class="row" >
									<div class="col-lg-12 col-sm-12 col-xlg-12 pull-right" style="width: 400px;">
											<input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
									</div>
			    		</div>
		    		</th>
				</tr>	
				<tr class="black-muted-bg">
					<th style="text-align: left;" st-sort="device">交换机名称(IP)</th>
					<th style="text-align: left;" st-sort="partid">端口序号</th>
					<th style="text-align: left;" st-sort="part">端口名称</th>
					<th style="text-align: left;" st-sort="vendor">端口WWN</th>
					<th style="text-align: left;" st-sort="porttype">端口类型</th>
					<th style="text-align: left;" st-sort="maxspeed">速率</th>
					<th style="text-align: left;" st-sort="partstat">启用状态</th>
					<th style="text-align: left;" st-sort="partphys">连接状态</th>
					<th style="text-align: left;" st-sort="partphys">link fail</th>
					<th style="text-align: left;" st-sort="partphys">disc c3</th>
					<th style="text-align: left;" st-sort="partphys">enc out</th>
					<th style="text-align: left;" st-sort="connectedToWWN">连接WWN</th>
					<th style="text-align: left;" st-sort="connectedToPart">连接部件名称</th>
					<th style="text-align: left;" st-sort="connectedToDeviceType">连接设备类型</th>
					<th style="text-align: left;" st-sort="connectedToDevice">连接设备名称</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in smartTableData">
					<!--<td style="text-align: center;width: 80px;vertical-align: middle;">{{$index + 1 }}</td>-->
					<td style="line-height: 25px;">
						<a style="text-decoration: none;" href="javascript:void(0);" ng-click="switchDetail(row ,'switch');">
							{{row.lsname}} ({{row.ip}})
						</a>
					</td>
					<td style="line-height: 25px;">
						<a style="text-decoration: none;" href="javascript:void(0);" ng-click="switchDetail(row ,'switch');">
							{{row.partid}}
						</a>
					</td>
					<td style="line-height: 25px;">{{row.part}}</td>
					<td style="line-height: 25px;">{{row.partwwn}}</td>
					<td style="line-height: 25px;">{{row.porttype}}</td>
					<td style="line-height: 25px;">{{row.maxspeed}}</td>
					<td style="line-height: 25px;">{{row.partstat}}</td>
					<td style="line-height: 25px;">{{row.partphys}}</td>
					<td style="line-height: 25px;">{{row.LinkFailures}}</td>
					<td style="line-height: 25px;">{{row.C3Discards}}</td>
					<td style="line-height: 25px;">{{row.InCrcs}}</td>
					<td style="line-height: 25px;">{{row.connectedToWWN}}</td>
					<td style="line-height: 25px;">{{row.connectedToPart}}</td>
					<td style="line-height: 25px;">{{row.connectedToDeviceType}}</td>
					<td style="line-height: 25px;">{{row.connectedToDevice}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9" class="text-center">
						<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="15"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
</div>