<div class="row">
  <div class="col-md-12 col-sm-12 col-lg-12">
	<div class="horizontal-scroll">
		<table class="table table-hover" st-table="smartTableData" st-safe-src="DataList">
			<thead>
				<tr> 
				    <th colspan="3">
				    	<div class="row">
				    		 	<div class="col-lg-3 col-sm-3 col-xlg-3 control-label text-right" style="padding-top: 7px;">显示行数：</div>
									<div class="col-lg-7 col-sm-7 col-xlg-7" style="padding-left:0px;">
										<select class="form-control selectpicker show-tick pull-left" title="Rows on page" selectpicker ng-model="smartTablePageSize"
											ng-options="i for i in [5,10,15,20,25]"></select>
									</div>
							</div>
		    		</th>
		    		<th></th>
		    		<th colspan="5">
								<input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
		    		</th>
				</tr>	
				<!--<tr>
			      <th colspan="9" style="text-align: right">
			        <div class="col-xs-6" style="text-align: left">
			          <button type="button" ng-click="addSwitch();" class="btn btn-primary btn-with-icon">
				        	<i class="glyphicon glyphicon-plus"></i>新增设备
				        </button>
			        </div>
			      </th>
			  </tr>-->
				<tr class="black-muted-bg">
					<!--<th style="text-align: center;width: 80px;">序号</th>-->
					<th style="text-align: center;" st-sort="device">交换机名称</th>
					<th style="text-align: center;" st-sort="devicesn">序列号</th>
					<th style="text-align: center;" st-sort="vendor">厂商</th>
					<th style="text-align: center;" st-sort="model">型号</th>
					<th style="text-align: center;" st-sort="ip">管理IP地址</th>
					<th style="text-align: center;" st-sort="devdesc">设备描述</th>
					<th style="text-align: center;" st-sort="Localtion">位置</th>
					<th style="text-align: center;" st-sort="LastTS">最后数据采集时间</th>
					<th style="text-align: center;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in smartTableData">
					<!--<td style="text-align: center;width: 80px;vertical-align: middle;">{{$index + 1 }}</td>-->
					<td>
						<a style="text-decoration: none;" href="javascript:void(0);" ng-click="switchDetail(row ,'switch');">
							{{row.device}}
						</a>
					</td>
					<td>
						<a style="text-decoration: none;" href="javascript:void(0);" ng-click="switchDetail(row ,'switch');">
							{{row.devicesn}}
						</a>
					</td>
					<td>{{row.vendor}}</td>
					<td>{{row.model}}</td>
					<td>{{row.ip}}</td>
					<td>{{row.devdesc}}</td>
					<td>{{row.Localtion}}</td>
					<td>{{row.LastTS}}</td>
					<td>
						<button type="button" ng-click="editSwitch(row);" class="btn btn-primary btn-with-icon btn-xs">
				        	<i class="glyphicon glyphicon-pencil"></i>修改
				    	</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9" class="text-center">
						<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="15"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
</div>