 
 <ui-view ng-controller="switchboardCtrl">
 	
 	<div class="row" ng-hide="editPanel">
    	<div class="col-md-12 col-sm-12 col-lg-12">
		      <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel">
		        <!--large medium -->
		        <uib-tabset active="selectTab">
		        		
						  <uib-tab heading="{{tab.name}}" ng-repeat="tab in tabs" index="tab.id" ng-click="swithTabs(tab);">
						    	<div ng-include="tab.url"></div>
						  </uib-tab>
					  
				</uib-tabset>
				
		      </div>
        </div>
    </div>
    

	
<!--编辑 新增-->
<div class="row" ng-show="editPanel">
	<div class="col-lg-12 col-xs-12 col-sm-12" style="padding-bottom: 20px;">
		<button class="btn btn-default btn-with-icon pull-right" ng-click="panelBack();" style="margin-left: 10px;">
        	<i class="glyphicon glyphicon-menu-left"></i>返回
        </button>
        
        <button class="btn btn-primary btn-with-icon pull-right" ng-click="switchSave();" style="margin-left: 10px;">
        	<i class="glyphicon glyphicon-save"></i>保存
        </button>
        
	</div>
	
  	<div class="col-lg-12 col-xs-12 col-sm-12">
		<div ba-panel ba-panel-title="{{panelTtile}}"  ba-panel-class="with-scroll"><!--panel  start-->
				<h5>交换机信息</h5>
			    <div class="row" style="padding-right: 60px;padding-bottom: 5px;">
			      <div class="form-group">
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">交换机名称 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="text" class="form-control" ng-model="switchs.basicInfo.device" placeholder="交换机名称" readonly="readonly"/>
			        </div>
			
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">别名 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="text" class="form-control" ng-model="switchs.basicInfo.alias" placeholder="别名"/>
			        </div>
			      </div>
			    </div>
			
			    <div class="row" style="padding-right: 60px;padding-bottom: 5px;">
			      <div class="form-group">
			
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">机房 :</label>
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <select class="form-control"  ng-model="switchs.basicInfo.UnitID"
			                  ng-options="item.id as item.name for item in datacenter">
			          </select>
			        </div>
			      </div>
			    </div>
			
			    <hr>
			    <h5>端口信息</h5>
				<div class="row" style="padding-right: 60px;padding-bottom: 0px;">
			      <div class="form-group">
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">Slot满配数量 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="number" class="form-control" ng-model="switchs.ability.maxSlot" placeholder="Slot满配数量"/>
			        </div>
			
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">端口满配数量 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="number" class="form-control" ng-model="switchs.ability.maxPorts" placeholder="端口满配数量"/>
			        </div>
			      </div>
			    </div>
			    
				<hr>
				<h5>配置信息</h5>
			    <div class="row" style="padding-right: 60px;padding-bottom: 5px;">
			      <div class="form-group">
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">维保厂商 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="text" class="form-control" ng-model="switchs.maintenance.vendor" placeholder="维保厂商"/>
			        </div>
			
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">联系人 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="text" class="form-control" ng-model="switchs.maintenance.contact" placeholder="联系人"/>
			        </div>
			      </div>
			    </div>
			    
			     <div class="row" style="padding-right: 60px;padding-bottom: 0px;">
			      <div class="form-group">
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">维保起始时间 :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
				        <div class="input-group" ng-controller="switchboardCtrl">
				        	<input id="purchaseDate" type="text" class="form-control" readonly="readonly"
				        		placeholder="维保起始时间" ng-model="switchs.maintenance.purchaseDate"
				        		uib-datepicker-popup="yyyy/MM/dd"  ng-click="open()"
				        		datepicker-options="options" 
				        		show-button-bar="true"
				        		is-open="opened" 
				        		ng-required="true" 
				        		close-text="Close" 
				        		show-button-bar="false" />
				          	<span class="input-group-btn">
				            	<button type="button" class="btn btn-default" ng-click="open()">
				            		<i class="glyphicon glyphicon-calendar"></i>
				            	</button>
				          	</span>
				        </div>
			        </div>
			
			        <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">维保期限（年） :</label>
			
			        <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			          <input type="number" class="form-control" ng-model="switchs.maintenance.period" placeholder="维保期限（年）"/>
			        </div>
			      </div>
			    </div>
			    
			    <hr>
			    	
			    <h5>资产信息</h5>
			      <div class="row" style="padding-right: 60px;padding-bottom: 5px;">
			        <div class="form-group">
			          <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">资产编号 :</label>
			
			          <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			            <input type="text" class="form-control" ng-model="switchs.assets.no" placeholder="资产编号"/>
			          </div>
			          
			          <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">用途 :</label>
			
			          <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			            <input type="text" class="form-control" ng-model="switchs.assets.purpose" placeholder="用途"/>
			          </div>
			          
			        </div>
			      </div>
			      
			      <div class="row" style="padding-right: 60px;padding-bottom: 5px;">
			        <div class="form-group">
			          <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">所属部门 :</label>
			
			          <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			            <input type="text" class="form-control" ng-model="switchs.assets.department" placeholder="所属部门"/>
			          </div>
			          
			          <label class="col-lg-2 col-sm-2 col-xlg-2 control-label text-right" style="padding-top:7px;padding-right:0px;">管理者 :</label>
			
			          <div class="col-lg-4 col-sm-4 col-xlg-4 text-left">
			            <input type="text" class="form-control" ng-model="switchs.assets.manager" placeholder="管理者"/>
			          </div>
			          
			        </div>
			      </div>
			    
			  <div style="clear: both"></div>
			
		</div><!--panel  start-->
	</div>
	
	
</div>
</ui-view>