<div class="row">
  <div class="col-xs-12">
  	<div class="horizontal-scroll">
    <table id="sample-table-1" st-table="smartTableData" st-safe-src="list" class="table table-striped table-bordered table-hover">
       <thead>
	      <tr> 
			    <th colspan="13">
			    	<div class="row">
			    		 	<div class="col-lg-1 col-sm-1 col-xlg-1 control-label" style="padding-top: 7px;">显示行数：</div>
								<div class="col-lg-3 col-sm-3 col-xlg-3" style="width: 168px;">
								<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize"
									 ng-options="i for i in [5,10,15,20,25]"></select>
							</div>
							<div class="col-lg-2 col-sm-2 col-xlg-2"></div>
							<div class="col-xs-5 clo-lg-5 col-sm-5 pull-right">	
									<input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
			    		 </div>
			    	</div>
	    			
	    		</th>
				</th>
			</tr>	
	      <tr>
		        <th ng-repeat="thead in theads" st-sort="{{thead.sort}}" st-sort-default="{{thead.default}}"> {{thead.text}}</th>
	      </tr>
      </thead>
      <tbody>
	      <tr ng-repeat="storage in smartTableData" ng-animate="{enter: 'tr_ng-enter', leave: 'tr_ng-leave'}">
		        <td>
		        	 	<a style="text-decoration: none;" href="" ng-click="storageDetail(storage);">{{storage.info.basicInfo.alias}}</a>
		        </td>
		        <td>
		        	 	<a style="text-decoration: none;" href="" ng-click="storageDetail(storage);">{{storage.sn}}</a>
		        </td>
		        <!--<td>{{storage.RawCapacity}}</td>
		        <td>{{storage.RawCapacity}}</td>-->
		        <td>{{storage.sstype}}</td>
		        <td>{{storage.model}}</td>
		        <td>{{storage.devdesc}}</td> 
		        <td>{{storage.TotalDisk}}</td>
		        <td>{{storage.TotalLun}}</td>
		        <td>{{storage.TotalMemory}}</td>
		        <td>
		          <div class="progress progress-mini progress-striped active pos-rel" style="margin-top: 10px;"
		               data-percent="{{storage.UsedPercent *100| fixed : 2}}%">
		            <div class="progress-bar" style="width:{{storage.UsedPercent}}%"> {{storage.UsedPercent}}% </div>
		          </div>
		        </td>
		        <td>{{storage.localtion}}</td>
		        <td class="center">
		        	<button type="button" ng-click="panelAdd(storage);" class="btn btn-primary btn-with-icon btn-xs">
				        	<i class="glyphicon glyphicon-pencil"></i>修改
				    	</button>
		        </td>
	      </tr>
      </tbody>
      <tfoot>
	    <tr>
		      <td colspan="13" class="text-center">
		        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="15"></div>
		      </td>
	    </tr>
    </tfoot>
    </table>
    </div>
  </div>
</div>