 <ui-view>
 	
  <div class="row" ng-hide="editPanel">
    <div class="col-md-12 col-sm-12 col-lg-12">
		      <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel">
		        <!--large medium -->
		        <uib-tabset active="$tabSetStatus.activeTab" ng-init="qwe()">
						  <uib-tab heading="{{tab.name}}" ng-repeat="tab in tabs" ng-click="swithTabs(tab);">
						      <div ng-include="tab.url"></div>
						  </uib-tab>
					</uib-tabset>
		      </div>
        </div>
    </div>
  
  	
<!--编辑 新增-->
<div class="row" ng-show="editPanel">
	<div class="col-lg-12 col-xs-12 col-sm-12" style="padding-bottom: 20px;">
		<button class="btn btn-default btn-with-icon pull-right" ng-click="panelBack();" style="margin-left: 10px;">
        	<i class="glyphicon glyphicon-menu-left"></i>返回
        </button>
        
        <button class="btn btn-primary btn-with-icon pull-right" ng-click="panelSave();" style="margin-left: 10px;">
        	<i class="glyphicon glyphicon-save"></i>保存
        </button>
        
	</div>
	
		    <div class="col-md-12" ba-panel ba-panel-title="{{panelTtile}}" ba-panel-class="with-scroll"><!--panel  start-->
		         <form style="padding-right: 50px;">
				  <div class="ngdialog-message">
				    <h4 style="padding-left:30px;">基础信息</h4>
				
				    <div class="row" style="padding-top:10px;">
				      <div class="form-group">
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">序列号 :</label>
				        <div class="col-md-4 col-sm-4 col-lg-4">
				          <!--<input type="text" class="form-control" ng-if="entity.basicInfo.serialnb" disabled="true" ng-model="entity.basicInfo.serialnb" placeholder="序列号"/>-->
				          <input type="text" class="form-control" ng-model="entity.basicInfo.device" placeholder="序列号" readonly="readonly"/>
				        </div>
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">别名 :</label>
				        <div class="col-md-4 col-sm-4 col-lg-4">
				          <input type="text" class="form-control" ng-model="entity.basicInfo.alias" placeholder="别名"/>
				        </div>
				      </div>
				    </div>
				    
				    <div class="row" style="padding-top:10px;">
				      <div class="form-group">
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">物理位置 :</label>
				
				        <div class="col-md-4 col-sm-4 col-lg-4">
				          <select class="form-control" ng-model="entity.basicInfo.UnitID"
				                  ng-options="item.id as item.name for item in UnitIDs">
				          </select>
				        </div>
				
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">设备级别 :</label>
				
				        <div class="col-md-4 col-sm-4 col-lg-4">
				          <select class="form-control" ng-model="entity.basicInfo.deviceLevel"
				                  ng-options="item.name as item.name for item in deviceLevels">
				          </select>
				        </div>
				      </div>
				    </div>
				    <div class="row" style="padding-top:10px;">
				      <div class="form-group">
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">设备类型 :</label>
				        <div class="col-md-4 col-sm-4 col-lg-4">
				          <select class="form-control" ng-model="entity.basicInfo.equipmentType"
				                  ng-options="item.name as item.name for item in equipmentTypes">
				          </select>
				        </div>
				        <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right"></label>
				        <div class="col-md-4 col-sm-4 col-lg-4">
				        </div>
				      </div>
				    </div>
				    <hr>
				    <div>
				      <h4 style="padding-left:30px;">
				        资产信息
				      </h4>
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">资产编号 :</label>
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.assets.no" placeholder="资产编号"/>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">资产用途 :</label>
				
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.assets.purpose" placeholder="资产用途"/>
				          </div>
				        </div>
				      </div>
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">所属部门 :</label>
				
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.assets.department" placeholder="所属部门"/>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">设备管理员 :</label>
				
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.assets.manager" placeholder="设备管理员"/>
				          </div>
				        </div>
				      </div>
				      <hr>
				    </div>
				    
				    <div>
				      <h4 style="padding-left:30px;">
				        维保信息
				      </h4>
				
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">维保厂商 :</label>
				          <div class="col-md-4 col-sm-4 	col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.maintenance.vendor" placeholder="维保厂商"/>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">联系方式 :</label>
				
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.maintenance.contact" placeholder="联系方式 :"/>
				          </div>
				        </div>
				      </div>
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">维保起始日期 :</label>
				          <div class="col-md-4 col-sm-4 col-lg-4">
				          	<div class="input-group" ng-controller="switchboardCtrl">
					        	<input id="purchaseDate" type="text" class="form-control" readonly="readonly"
					        		placeholder="维保起始时间" ng-model="entity.maintenance.purchaseDate"
					        		uib-datepicker-popup="yyyy/MM/dd"  ng-click="open()"
					        		datepicker-options="options" 
					        		show-button-bar="true"
					        		is-open="opened" 
					        		ng-required="true" 
					        		close-text="Close" 
					        		show-button-bar="false" />
					          	<span class="input-group-btn">
					            	<button type="button" class="btn btn-default" ng-click="open()">
					            		<i class="glyphicon glyphicon-calendar"></i>
					            	</button>
					          	</span>
					        </div>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">维保时限(年) :</label>
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.maintenance.period" placeholder="维保时限(年)"/>
				          </div>
				        </div>
				      </div>
				      
				      <hr>
				    </div>
				    
				    <div>
				      <h4 style="padding-left:30px;">
				        配置信息
				      </h4>
				
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">最大内存容量(GB) :</label>
				          <div class="col-md-4 col-sm-4 	col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.ability.maxMemory" placeholder="最大内存容量(GB)"/>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">最多磁盘数量 :</label>
				
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.ability.maxDisks" placeholder="最多磁盘数量 :"/>
				          </div>
				        </div>
				      </div>
				      <div class="row" style="padding-top:10px;">
				        <div class="form-group">
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">最多前端端口数量:</label>
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.ability.maxFEs" placeholder="最多前端端口数量:"/>
				          </div>
				          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">最多机柜数量 :</label>
				          <div class="col-md-4 col-sm-4 col-lg-4">
				            <input type="text" class="form-control" ng-model="entity.ability.maxCabinets" placeholder="最多机柜数量"/>
				          </div>
				        </div>
				      </div>
				      
				      <hr>
				    </div>
				  	
				  </div><!--ngdialog-message end
		      	<div class="clearfix" style="margin-top:50px;">
				    <button class="btn btn-default pull-right" type="button" ng-click="panelBack();" style="margin-left:35px;">返回</button>
				    <button class="btn btn-primary pull-right" type="button" ng-click="panelSave();" style="margin-left:35px;">提交</button>
		      	</div>-->
		      </form>
		    </div><!--panel  end-->
  </div>
	  	
</ui-view>