<div class="row">

    <div class="col-xs-12">
    	
      <div class="row" style="padding-top:10px;">
        <div class="form-group">
          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">开始时间 :</label>
          <div class="col-md-3 col-sm-3 col-lg-3">
          	<div class="input-group" ng-controller="switchboardCtrl">
				<input id="startDate" class="form-control"
				       ng-model="startDate"
				       ng-model-options="{ updateOn: 'default blur' }"
				       placeholder="Select a date..."
				       format="YYYY-MM-DD HH:mm:ss"
				       moment-picker="startDate">
	        </div>
          </div>
          <label class="col-md-2 col-sm-2 col-lg-2 control-label no-padding-right text-right">结束时间 :</label>
          <div class="col-md-3 col-sm-3 col-lg-3">
          	<div class="input-group" ng-controller="switchboardCtrl">
				<input id="endDate" class="form-control"
				       ng-model="endDate"
				       ng-model-options="{ updateOn: 'default blur' }"
				       placeholder="Select a date..."
				       format="YYYY-MM-DD HH:mm:ss"
				       moment-picker="endDate">
	        </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
	           <button type="button" ng-click="search9();" class="btn btn-primary btn-with-icon">
		        	<i class="glyphicon glyphicon-search"></i>查询
		        </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="padding: 0px; margin: 0px; " ng-repeat="item in data">
        <div id="chart-{{$index}}" style="height: 400px; width: 100%;padding: 15px;">
        </div>
    </div>
</div>