<ui-view  autoscroll="true" autoscroll-body-top>
	<!--  第一部分sheet    -->
	<div class="row">
	    <div class="col-md-12 col-sm-12 col-lg-12">
		    <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel">
		        <!--large medium -->
		        <uib-tabset active="$tabSetStatus.activeTab">
					  <uib-tab heading="{{tab1.datacenter}}" ng-repeat="tab1 in tabs1" ng-click="swithTabs(tab1);">
					      <div class="topo">
					        <a class="server" href="#/host/host">
					          <div class="device"></div>
					          <span class="summary"><i class="topoIcon tick">&nbsp;</i>服务器({{tab1.Host}})</span>
					        </a>
					        <a class="hypervisor" href="#/host/application">
					          <div class="device"></div>
					          <span class="summary"><i class="topoIcon tick">&nbsp;</i>应用系统({{tab1.Application}})</span>
					        </a>
					        <a class="fabric" href="#/config/virtual_gateway_list">
					          <div class="device"></div>
					          <span class="summary"><i class="topoIcon tick">&nbsp;</i>虚拟化网关({{tab1.VirtualStorage}})</span> </a>
					        <a class="switch" href="#/config/switch_list">
					          <div class="device"></div>
					          <span class="summary"><i class="topoIcon tick">&nbsp;</i>交换机({{tab1.FabricSwitch}})</span> </a>
					        <a class="storage" href="#/config/storage_list">
					          <div class="device"></div>
					          <span class="summary"><i class="topoIcon tick">&nbsp;</i>存储({{tab1.Array}})</span> </a>
					      </div>
					  </uib-tab>
				</uib-tabset>
		    </div>
	    </div>
	</div>
	<!-- style -->
	<style>
		.divborder{
			border: 2px solid #FFFFFF;
			border-top-left-radius: 1em;
		    border-top-right-radius: 1em;
		    border-bottom-left-radius: 1em;
		    border-bottom-right-radius: 1em;
		}
		
		.ddd{
			border: 1px solid #FFFFFF;
		    height: 30px;
		    width: 94%;
		    /*background-color: red;*/
		    /*padding-left: 150px;*/
		    border-top-left-radius: 1em;
		    border-top-right-radius: 1em;
		    border-bottom-left-radius: 1em;
		    border-bottom-right-radius: 1em;
		    margin: 10px;
		    position:relative;
		}
		.divl_left_radius{
			height: 100%;
		    border-top-left-radius: 1em;
		    border-bottom-left-radius: 1em;
		    color: #000000;
		    text-align: center;
		    padding: 5px;
		    position:absolute;
		}
		.divl_rigth_radius{
			height: 100%;
			border-top-left-radius: 1em;
		    border-bottom-left-radius: 1em;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;
			color: #000000;
			text-align: center;
			padding: 5px;
			position:absolute;
		}
		.div2{
			float: left;
		}
		span.title{
		    display:block;
		    width:150px;
		    height:12px;
		    position:relative;
		    top:-8px;
		    text-align: center;
		    background: rgb(53,77,81);
		    color: #FFFFFF;
		    margin-left: 25px;
		}
		
		.demo:hover{
			border: 2px red solid;
			width:120%;
		}
	</style>
	<div class="row" style="padding-top: 1px; height: 1px; background-color: rgb(125, 125, 125);"></div>
	<!--  最新第二部分  -->
	<div class="row">
		<div class="divborder col-md-4 col-sm-4 col-lg-4" ng-repeat="chart in tabsValue" style="height: 630px;margin: 10px;">
			<h3 style="text-align: center; padding-top: 5px;">{{chart.Name}}</h3>
			<!--<div id="stacked-bar" class="ct-chart stacked-bar"></div>-->
			<div style="background-color: rgba(127, 190, 255, 0.14); height: 150px;">
				<h5 style="text-align: center; padding-top: 10px;">容量分布图</h5>
				<!--<div style="width: 94%; padding-left: 10px;">
					<div style="width: {{chart.CapacityDist.Available/chart.CapacityDist.TotalRaw*100}}%; border-left: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF; height: 20px;">
						<div style="height: 2px; border-bottom: 2px solid #FFFFFF; float: left; width: 15%; padding-top: 8px;"></div>
						<div style="width: 70%; float: left; text-align: center;">可用容量:{{chart.CapacityDist.Available}}TB</div>
						<div style="height: 2px; border-bottom: 2px solid #FFFFFF; float: left; width: 15%; padding-top: 8px;"></div>
					</div>
				</div>-->
				<div class="ddd" align="left">
					<div title="可用容量:{{chart.CapacityDist.Available/chart.CapacityDist.TotalRaw*100}}%" class="divl_left_radius demo" style="background-color: rgb(236,236,4); float: left; width: {{chart.CapacityDist.Available/chart.CapacityDist.TotalRaw*100}}%; z-index: {{chart.CapacityDist.Available>chart.CapacityDist.Used?chart.CapacityDist.Used:chart.CapacityDist.Available}};"></div>
					<div title="已用容量:{{chart.CapacityDist.Used/chart.CapacityDist.TotalRaw*100}}%" class="divl_left_radius demo" style="background-color: rgb(120,156,14);float: left;width: {{chart.CapacityDist.Used/chart.CapacityDist.TotalRaw*100}}%; height: 100%; color: #000000; padding: 5px; text-align: center; z-index: {{chart.CapacityDist.Used>chart.CapacityDist.Available?chart.CapacityDist.Available:chart.CapacityDist.Used}};"></div>
					<div class="divl_rigth_radius demo" style="background-color: rgb(222,222,222);float: left;width: 100%; z-index: 1;"></div>
				</div>
				<div style="padding-left: 10px; width: 94%;">
					<div style="width: 10%; height: 10px; background-color: rgb(236,236,4); float: left;"></div>
					<div style="width: 90%;float: left;">可用容量:{{chart.CapacityDist.Available}}</div>
				</div><br />
				<div style="padding-left: 10px; width: 94%;">
					<div style="width: 10%; height: 10px; background-color: rgb(120,156,14); float: left;"></div>
					<div style="width: 90%; float: left;">已用容量:{{chart.CapacityDist.Used}}</div>
				</div>
				<div style="width: 94%; padding-left: 10px; padding-top: 20px;">
					<div style="width: 100%; border-left: 2px solid #FFFFFF; border-right: 2px solid #FFFFFF; height: 20px;">
						<div style="height: 2px; border-bottom: 2px solid #FFFFFF; float: left; width: 25%; padding-top: 8px;"></div>
						<div style="width: 50%; float: left; text-align: center;">裸容量:{{chart.CapacityDist.TotalRaw}}TB</div>
						<div style="height: 2px; border-bottom: 2px solid #FFFFFF; float: left; width: 25%; padding-top: 8px;"></div>
					</div>
				</div>
			</div>
			<br />
			<div  class="divborder">
				<span class="title">数据中心容量趋势</span>
				<div style="height: 260px; width:100%;" id="zoomAxisChart{{chart.Name}}" class="admin-chart" ng-controller="dashboardCtrl">
				</div>
			</div>
			<br />
			<div class="divborder">
				<span class="title">保护类型数据容量情况</span>
				<table style="padding-left: 10px;">
					<tr><td align="right" style="padding-left: 20px;">主机数据:</td><td style="padding-left: 10px;">{{chart.CapacityByPurpose.Primary}}</td></tr>
					<tr><td align="right"style="padding-left: 20px;">本地复制:</td><td style="padding-left: 10px;">{{chart.CapacityByPurpose.LocalRep}}</td></tr>
					<tr><td align="right"style="padding-left: 20px;">本地远程复制:</td><td style="padding-left: 10px;">{{chart.CapacityByPurpose.LocalRemoteRep}}</td></tr>
					<tr><td align="right"style="padding-left: 20px;">本地Clone:</td><td style="padding-left: 10px;">{{chart.CapacityByPurpose.LocalTragetClone}}</td></tr>
					<tr><td align="right"style="padding-left: 20px;">远程复制:</td><td style="padding-left: 10px;">{{chart.CapacityByPurpose.RemoteRep}}</td></tr>
				</table>
			</div>
		</div>
	</div>
	
	
	<!--<style>
		.aa>div>div{background-color: rgba(0, 75, 128, 0.19);}
	</style>-->
	<!--  第二部分sheet    -->
	<!--<div class="row">
	    <div class="col-md-12 col-sm-12 col-lg-12">
		      <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel">
		        <uib-tabset active="$tabSetStatus.activeTab">
					  <uib-tab heading="存储容量-资源池分类统计">
					     <div class="row pie-charts">
						   <div class="pie-chart-item-container" ng-repeat="chart in charts">
						    <div ba-panel class="aa">
						      <div class="panel-heading" style="height: 25px; text-align: center;padding-top: 2px; background-color: {{chart.bgColor}}; margin-bottom: 2px;"><font color="#000000">{{chart.name}}资源池</font></div>
						      <div class="pie-chart-item">
						        <div class="chart" rel="{{chart.bgColor }}" data-percent="{{chart.percent}}"> 
						        	<span class="percent"></span> 
						        </div>
						        <div class="description" style="font-size: 13px;">
						          <div>存储数量：{{chart.storageCount}}</div>
						          <div>已用容量：{{chart.usedCapacity}}{{chart.defaultCapacityWithUnit}}</div>
						          <div>可用容量：{{chart.totalCapacity}}{{chart.defaultCapacityWithUnit}}</div>
						        </div>
						      </div>
						    </div>
						  </div>
					    </div>
					</uib-tab>
					<uib-tab heading="存储容量-连接虚拟网络设备">
					     <div class="row pie-charts">
						   <div class="pie-chart-item-container" ng-repeat="chart in charts">
						    <div ba-panel>
						      <div class="panel-heading" style="height: 25px; text-align: center;padding-top: 2px; background-color: brown;">高端资源池</div>
						      <div class="pie-chart-item">
						        <div class="chart" rel="{{ ::chart.color }}" data-percent="{{chart.aa}}"> 
						        	<span class="percent"></span> 
						        </div>
						        <div class="description" style="font-size: 13px;">
						          <div>已用容量：100</div>
						          <div>可用容量：50</div>
						        </div>
						      </div>
						    </div>
						  </div>
					    </div>
					</uib-tab>
					<uib-tab heading="存储容量-被虚拟网关封装">
					     <div class="row pie-charts">
						   <div class="pie-chart-item-container" ng-repeat="chart in charts">
						    <div ba-panel>
						      <div class="panel-heading" style="height: 25px; text-align: center;padding-top: 2px; background-color: brown;">高端资源池</div>
						      <div class="pie-chart-item">
						        <div class="chart" rel="{{ ::chart.color }}" data-percent="{{chart.aa}}"> 
						        	<span class="percent"></span> 
						        </div>
						        <div class="description" style="font-size: 13px;">
						          <div>已用容量：100</div>
						          <div>可用容量：20</div>
						        </div>
						      </div>
						    </div>
						  </div>
					    </div>
					</uib-tab>
					<uib-tab heading="存储容量-被自动化接管容量">
					     <div class="row pie-charts">
						   <div class="pie-chart-item-container" ng-repeat="chart in charts">
						    <div ba-panel>
						      <div class="panel-heading" style="height: 25px; text-align: center;padding-top: 2px; background-color: brown;">高端资源池</div>
						      <div class="pie-chart-item">
						        <div class="chart" rel="{{ ::chart.color }}" data-percent="{{chart.aa}}"> 
						        	<span class="percent"></span> 
						        </div>
						        <div class="description" style="font-size: 13px;">
						          <div>自动化容量：100</div>
						          <div>可用容量：0</div>
						        </div>
						      </div>
						    </div>
						  </div>
					    </div>
					</uib-tab>
				</uib-tabset>
		      </div>
	    </div>
	</div>-->
	
	<!--  第三部分sheet    -->
	<!--<div class="row">
	    <div class="col-md-6 col-sm-6 col-lg-6">
		      <div ba-panel ba-panel-class="with-scroll horizontal-tabs tabs-panel">
		        <uib-tabset active="$tabSetStatus.activeTab">
						  <uib-tab heading="{{tab3.name}}" ng-repeat="tab3 in tabs3" ng-click="">
						      <div ng-include="tab3.url"></div>
						  </uib-tab>
					</uib-tabset>
		      </div>
	    </div>
	    <div class="col-md-6 col-sm-6 col-lg-6">
		      <div class="horizontal-scroll" ba-panel>
				<table class="table" st-table="eventTableData" st-safe-src="selectDateList" style="table-layout:fixed">
					<thead>
						<tr>
							<th>事件统计</th>
							<th></th>
							<th></th>
							<th>
								<select class="form-control selectpicker show-tick" ng-model="filter.selectValue" style="width: 120px;" ng-change="selectChange()" >  
								    <option ng-repeat="detectUnit in serialNumbers" value="{{detectUnit.day}}">{{detectUnit.name}}</option>  
								</select> 
							</th>
						</tr>
						<tr>
							<th colspan="2">
								<div class="row form-group no-padding" style="margin: 0px;">
									<div class="col-lg-5 col-sm-5 col-xlg-5 control-label" style="padding-top: 7px;">显示行数：</div>
									<div class="col-lg-7 col-sm-7 col-xlg-7">
										<select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="eventTablePageSize" ng-options="i for i in [1,5,10,15,20,25]">
							      		</select>
									</div>
								</div>
							</th>
							<th colspan="2">
								<input st-search placeholder="搜索" class="input-sm form-control" type="search" />
							</th>
						</tr>
						<tr class="sortable ">
							<th>设备序列号</th>
							<th>事件级别</th>
							<th>事件描述</th>
							<th>发生次数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in eventTableData">
							<td>{{row.serialnb}}</td>
							<td>{{row.severity}}</td>
							<td>{{row.fullmsg}}</td>
							<td>{{row.eventnum}}</td>
						</tr>
					</tbody>
					<tfoot>
					<tr>
						<td colspan="4" class="text-center">
							<div st-pagination="" st-items-by-page="eventTablePageSize" st-displayed-pages="15"></div>
						</td>
					</tr>
				</tfoot>
				</table>
			</div>
	    </div>
	</div>-->
</ui-view>

<style>
  .clear_both {
    clear: both;
  }

  .right_align {
    text-align: right;
    margin-top: 6px;
  }

  .grid4 {
    margin: 0;
  }

  .widget-header {
    text-align: center;
  }

  .widget-main {
    text-align: -webkit-center;
  }

  .capacity, .equipment {
    padding-left: 0px;
  !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .equipment_item {
    width: 100%;
    height: 158px;
    background-position: 0 0;
    background-size: 100% 180px;
    background-repeat: no-repeat;
  }

  .storage {
    background-image: url("assets/img/dashboard/storage_devices_base1.png");
  }

  .switch {
    background-image: url("assets/img/dashboard/switch_base1.png");
  }

  .server {
    background-image: url("assets/img/dashboard/servers_base1.png");
  }

  .hypervisor {
    background-image: url("assets/img/dashboard/hypervisor_base1.png");
  }

  .btn.btn-app {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2) !important;
    border: 0;
    border-radius: 0px;
    padding: 12px 0 8px;
    margin: 0px;
    line-height: 1.7;
    position: relative;
  }

  .btn.btn-app > [class*=icon] {
    display: block;
    font-size: 42px;
    margin: 0 0 4px;
    line-height: 36px;
    min-width: 0;
    padding: 0;
  }

  .btn-left {
    padding-right: 0 !important;
    width: 12%;
    float: left;
    padding-bottom: 75px;
  }

  .bth-right {
    float: left;
    width: 37%;
    background-color: #edf1f2;
    height: 90px;
    padding: 5px;
    display: table;
  }

  .bth-right div {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
  }

  .padding {
    float: left;
    width: 10px;
    height: 1px;
  }

  .disabled {
    opacity: 0.3;
    filter: alpha(opacity=30);
  }

  .disabled a {
    cursor: default;
  }

  .dropdown-menu {
    position: relative;
    min-width: 100%;
    overflow: hidden;
  }

  .easypiechart {
    position: relative;
    display: block;
    width: 100%;
  }

  .highcharts-tooltip{
    font-weight: bold;
  }
  
  .fullScreenAnchor{
	position: fixed;
    right: 0;
    top: 200px;
    z-index: 13;
}



  .fullScreen.navbar {
    display: none !important;
  }
  .fullScreen.sidebar {
    display: none !important;
  }
  .fullScreen.main-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .fullScreen.main-content .nav-search {
    display: none !important;
  }
 .fullScreen .main-content .breadcrumbs {
    float: right;
    border-width: 0 !important;
  }
  .fullScreen.main-content .breadcrumbs .breadcrumb > li + li:before {
    content: "/";
  }
  .fullScreen.main-content .breadcrumbs .breadcrumb .home-icon {
    display: none;
  }
  .fullScreen.ace-settings-container {
    display: none !important;
  }
  .fullScreen.footer {
    width: 100%;
    height: auto;
    position: relative;
  }
  .fullScreen.footer .footer-inner,
  .fullScreen.footer .footer-inner .footer-content {
    width: 100%;
  }
 




/**topology**/
.topo{
	width:100%;
	height:316px;
	margin:0 0;
	position:relative;
	background-image: url("assets/img/dashboard/statictopoconnectors.png");/*,url("assets/img/dashboard/statictopofloor.png");*/
    background-position: 0 0;
    background-size: 1115px 316px;
    background-repeat: no-repeat;
    border-color:#000;
    border: 1px solid ;
}
.topo>div,.topo>a{
	cursor: pointer;
}
.topo .server{
	left: 50px;
    top: 50px;
    position: absolute;
    width:200px;
    height:205px;
}

.topo .hypervisor{
	left: 325px;
    top: 25px;
    position: absolute;
    width:136px;
    height:148px;
}
.topo .fabric{
	left: 478px;
    top: 153px;
    position: absolute;
    width:200px;
    height:135px;
}
.topo .switch{
	right: 325px;
    top: 70px;
    position: absolute;
    width:130px;
    height:95px;
}
.topo .storage{
	right: 50px;
    top: 30px;
    position: absolute;
    width:200px;
    height:255px;
}

/** device  **/
    .topo a {
    text-transform:none;text-decoration:none;
    }

.topo .server .device{
	width:200px;
	height:180px;
	background-image: url("assets/img/dashboard/servers_base1.png");
    background-position: 0 0;
    background-size: 200px 180px;
    background-repeat: no-repeat;
}
.topo .server .device:hover{
	background-image: url("assets/img/dashboard/servers_hover1.png");
}
.topo .hypervisor .device{
	width:128px;
	height:128px;
	background-image: url("assets/img/dashboard/hypervisor_base1.png");
    background-position: 0 0;
    background-size: 128px 128px;
    background-repeat: no-repeat;
}
.topo .hypervisor .device:hover{
	background-image: url("assets/img/dashboard/hypervisor_hover1.png");
}
.topo .fabric .device{
	width:200px;
	height:110px;
	background-image: url("assets/img/dashboard/fabric_base1.png");
    background-position: 0 0;
    background-size: 200px 110px;
    background-repeat: no-repeat;
}
.topo .fabric .device:hover{
	background-image: url("assets/img/dashboard/fabric_hover1.png");
}
.topo .switch .device{
	width:130px;
	height:70px;
	background-image: url("assets/img/dashboard/switch_base1.png");
    background-position: 0 0;
    background-size: 130px 70px;
    background-repeat: no-repeat;
}
.topo .switch .device:hover{
	background-image: url("assets/img/dashboard/switch_hover1.png");
}
.topo .storage .device{
	width:200px;
	height:230px;
	background-image: url("assets/img/dashboard/storage_devices_base1.png");
    background-position: 0 0;
    background-size: 200px 230px;
    background-repeat: no-repeat;
}
.topo .storage .device:hover{
	background-image: url("assets/img/dashboard/storage_devices_hover1.png");
}
/** summary **/
.summary{
	display:block;
	margin:0 auto;
	color: #fff; 
color: #fff; 
font-family: Arial; 
font-size: 1.2em; 
font-weight: bold; 
text-shadow: black 2px 2px 3px; 
}
.server .summary{
	width:60%;
}
.hypervisor .summary{
	width:100%;
}
.fabric .summary{
	width:65%;
}
.storage .summary{
	width:65%;
}
/** icon  **/
.topoIcon{
    background-image: url("assets/img/dashboard/status24.png");
    background-position: 0 0;
    background-size: 168px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.topoIcon.default{
	background-position: 0 0;
}
.topoIcon.tick{
	background-position: -24px 0;
}
.topoIcon.warning{
	background-position: -48px 0;
}
.topoIcon.error{
	background-position: -72px 0;
}
.topoIcon.unknow{
	background-position: -96px 0;
}
.topoIcon.info{
	background-position: -120px 0;
}
</style>