<div id="mainbox">
	<div class="search-box">
		<label for="inputEmail3" class="control-label">服务目录名称：</label>
		<select id="select" type="email" ng-change="change()" class="form-control" id="inputEmail3" ng-model="query.name" placeholder="请选择">
			<option value="ALL">所有</option>
			<option ng-repeat="item in selectList" value="{{item.name}}">{{item.name}}</option>
		</select>
	</div>
	<div id="catalogList" class="row recipe-box" >
		<div ng-repeat="catalog in catalogLists" class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-xs-12"
				 ba-panel ba-panel-class="with-scroll notification-panel">
			<div class="task-todo-container transparent">
				<div calss="todo-header">
					<div class="todo-img"><img src="/assets/pictures/vPlex-provisioning.png" alt="Chai Oatmeal" /></div>
					<div class="todo-title">
						<div class="todo-title-name">{{catalog.label}}</div>
						<input type="button" value="执行" style="width:70px;color:white;background-color:#4ACC46;margin-left:140px;height:28px;border-radius:6px;height:28px;margin-top:5px" ng-click="go('/dashboard/Automation/ServiceVPLEXProvisioning', 'success')" src="/assets/pictures/exec_button.png" alt="Chai Oatmeal" ></input>
					</div>
				</div>
				<div class="box-shadow-border"></div>
				<div calss="todo-nav">
					<div class="todo-tab">
						<span style="background:#333333;box-shadow:#FF4A4B 1px 1px 1px" ng-repeat="support_host_type in catalog.propertices.support_host_type">{{support_host_type}}</span>
					</div>
					<div class="todo-info">
						<span><img src="/assets/pictures/service_icon_time.png" alt=""><span class="todo-info-name">{{catalog.propertices.estimated_execution_time}}</span></span>
						<span><img src="/assets/pictures/service_icon_bar.png" alt=""><span class="todo-info-name">{{catalog.propertices.service_level}}</span></span>
						<span><img src="/assets/pictures/service_icon_fire.png" alt=""><span class="todo-info-name">{{catalog.propertices.last_month_execution_count}}</span></span>
					</div>
				</div>
				<div class="box-shadow-border"></div>
				<div class="todo-content">
					<p>{{catalog.description}}</p>
					<p ng-bind-html="catalog.detailFunctionDesc|trust2Html">{{catalog.detailFunctionDesc}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.search-box{
		width:100%;
	}
	.search-box label {
		font-size: 16px;
		font-weight: 200;
	}
	.search-box select {
		display: inline-block;
		width: 200px;
	}
	.recipe-box{
		margin-top:30px;
		display:-webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap:wrap;
		-webkit-box-lines:multiple;
		-moz-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-flex-flow:row wrap;
		-webkit-box-orient:horizontal;
		-webkit-box-lines:multiple;
		-moz-flex-flow:row wrap;
		box-orient:horizontal;
		box-lines:multiple;
		flex-flow:row wrap;
	}
	.todo-img{
		margin: auto;
		text-align: center;
	}
	.todo-img img {
		width:70%;
		margin: auto;
	}
	.todo-title{
		padding: 5px 0;
		overflow: hidden;
	}
	.todo-title-name{
		float: left;
		font-size: 16px;
		line-height: 38px;
	}
	.todo-title-run{
		width: 38px;
		height: 38px;
		line-height: 34px;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 50%;
		background: red;
		font-size: 14px;
		float: right;
		color: #FFFFFF;
		padding: 0px;
		cursor: pointer;
		outline:none;
	}

	.todo-title-run:disabled{
		cursor: no-drop;
	}

	.todo-title-run.no-run{
		width: 38px;
		height: 38px;
		line-height: 34px;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 50%;
		background: #b4b4b4;
		font-size: 14px;
		float: right;
	}
	.todo-tab {
		overflow: hidden;
		padding-bottom: 2px;
	}
	.todo-tab span{
		margin-right: 15px;
		margin-top: 12px;
		float: left;
		display: block;
	}
	.todo-tab span {
		border-radius: 4px;
		padding: 6px 4px;
		text-align: center;
	}
	.todo-tab span:nth-child(3n+1){
		background: #e1b41d;
		box-shadow: 0px 2px 0px #b69419;
	}
	.todo-tab span:nth-child(3n+2){
		background: #95be02;
		box-shadow: 0px 2px 0px #719400;
	}
	.todo-tab span:nth-child(3n+3){
		background: #e65e68;
		box-shadow: 0px 2px 0px #c04243;
	}
	.todo-tab.no-run span{
		background: #b3b3b1;
		box-shadow: 0px 2px 0px #909090;
	}
	.todo-info{
		overflow: hidden;
		margin: 12px 0;
	}
	.todo-info>span{
		margin-right: 10px;
	}
	.todo-info img {
		width: 18px;
	}
	.todo-info .todo-info-name {
		font-size: 14px;
		margin-left: 5px;
		line-height: 14px;
		vertical-align: middle;
		color: #ffff00;
	}
	.todo-content p{
		margin: 1.25em 0;
		font-size: 0.8125em;
		font-weight: 400;
		color: #fff;
	}
	</style>