<div class="row">
  <div class="col-xlg-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div id="FACharts" class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel  
           ba-panel-title="前端控制器利用率(%)"  
           ba-panel-class="medium-panel">
         <div id="director_FA_chart"></div> 
      </div>
      <div id="DACharts" class="col-xlg-4 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="后端控制器利用率(%)" 
           ba-panel-class="medium-panel"> 
        <div id="director_DA_chart"></div> 
      </div>
      <div id="RDFCharts" class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel
       ba-panel-title="RDF控制器利用率(%)"
           ba-panel-class="popular-app medium-panel with-scroll">
        <div id="director_RF_chart"></div> 
      </div>
      <div id="VNXControllerIOPSCharts"   class="col-xlg-12 col-lg-12 col-md-12 col-sm-5 col-xs-12"
          ba-panel  
          ba-panel-title="VNX Controller IOPS"  
          ba-panel-class="medium-panel">
        <div id="VNX_Controller_IOPS_chart"></div> 
      </div>
    </div>


    <div class="row">
      <div>
        <button id='button-day' ng-click="setPeriod('1d');" type="button" class="btn btn-info" disabled=true  style="margin-right:10px;">日</button>
        <button id='button-week' ng-click="setPeriod('1w');" type="button" class="btn btn-default"  style="margin-right:10px;">周</button> 
        <button id='button-month' ng-click="setPeriod('1m');" type="button" class="btn btn-default"  style="margin-right:80px;">月</button> 
        <button id='button-max' ng-click="setValueType('max');" type="button" class="btn btn-default btn-with-icon" disabled=true ><i class="ion-stats-bars" style="margin-right:10px;"></i>最大值</button>
        <button id='button-avg' ng-click="setValueType('average');" type="button" class="btn btn-default btn-with-icon" disabled=true ><i class="ion-stats-bars"></i>平均值</button> 
      </div>  
    </div> 
  </div>

</div>


<style>
#director_FA_chart {
	width	: 100%;
	height	: 350px;
}		

#director_DA_chart {
  width : 100%;
  height  : 350px;
}       

#director_RF_chart {
  width : 100%;
  height  : 350px;
}  

#VNX_Controller_IOPS_chart {
	width	: 100%;
	height	: 350px;
}		
 

.panel > .panel-heading {
    background-image: none;
    background-color: gray ;
    color: white;
}    																
</style>