<ui-view  autoscroll="true" autoscroll-body-top>
 	<div class="row" ng-hide="editPanel">
    	<div class="col-md-12 col-sm-12 col-lg-12">
		    <div class="horizontal-scroll">
				<table class="table table-hover" st-table="smartTableData" st-safe-src="DataArrayList">
					<thead>
						<tr> 
						    <th colspan="4">
						    	<div class="row">
					    		 	<div class="col-lg-3 col-sm-5 col-xlg-5 control-label text-right" style="padding-top: 7px;">显示行数：</div>
									<div class="col-lg-7 col-sm-7 col-xlg-7" style="padding-left:0px;">
										<select class="form-control selectpicker show-tick pull-left" title="Rows on page" selectpicker ng-model="smartTablePageSize"
											ng-options="i for i in [5,10,15,20,25]"></select>
									</div>
								</div>
				    		</th>
				    		<th colspan="6">
								<input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
				    		</th>
						</tr>	
						<tr class="black-muted-bg">
							<th st-sort="appname">应用名称</th>
							<th st-sort="hostname">主机名称</th>
							<th st-sort="hbawwn">HBAWWN</th>
							<th st-sort="hbaAlias">HBA别名</th>
							<th st-sort="connectHostSwitchPort">主机连接SW端口</th>
							<th st-sort="connectHostSwitchName">主机连接SW</th>
							<th st-sort="zsetname">ZSet名称</th>
							<th st-sort="zname">Zone名称</th>
							<th st-sort="connectArraySwitchName">存储连接SW</th>
							<th st-sort="connectArraySwitchPort">存储连接SW端口</th>
							<th st-sort="arrayFEPortName">存储前端口</th>
							<th st-sort="arrayFEPortWWN">存储前端口WWN</th>
							<th st-sort="arrayname">存储名称</th> 
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in smartTableData">
							<td>{{row.appname}}</td>
							<td>{{row.hostname}}</td>
							<td>{{row.hbawwn}}</td>
							<td>{{row.hbaAlias}}</td>
							<td>{{row.connectHostSwitchPort}}</td>
							<td>{{row.connectHostSwitchName}}</td>
							<td>{{row.zsetname}}</td>
							<td>{{row.zname}}</td>
							<td>{{row.connectArraySwitchName}}</td>
							<td>{{row.connectArraySwitchPort}}</td>
							<td>{{row.arrayFEPortName}}</td>
							<td>{{row.arrayFEPortWWN}}</td>
							<td>{{row.arrayname}}</td>
							
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="10" class="text-center">
								<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="15"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
        </div>
    </div>
 
</ui-view>
